[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vpeevski
[access "refs/for/refs/*"]
	read = group user/vpeevski
	push = group user/vpeevski
	label-Code-Review = -2..+2 group user/vpeevski
	label-Verified = -1..+1 group user/vpeevski
	rebase = group user/vpeevski
	removeReviewer = group user/vpeevski
	submit = group user/vpeevski
[access "refs/heads/*"]
	read = group user/vpeevski
	create = group user/vpeevski
	push = +force group user/vpeevski
	pushMerge = group user/vpeevski
[access "refs/tags/*"]
	push = group user/vpeevski
	push = +force group user/vpeevski
